beautifulsoup4==4.15.0
botocore==1.43.63
iniconfig==2.3.0
jmespath==1.1.0
packaging==26.2
pluggy==1.6.0
pyarrow==25.0.0
Pygments==2.20.0
pytest==9.1.1
python-dateutil==2.9.0.post0
six==1.17.0
soupsieve==2.9.1
typing_extensions==4.16.0
urllib3==2.7.0
